@charset "utf-8";
/* CSS Document */

.estilo1{
	font:12px 
	Arial; 
	color:#000;
	
}

#rodape{
	width:553px; 
	height:30px;
	margin:auto;
	margin-top:28px;
	text-align:center;
}

#rodape2{
	width:553px; 
	height:30px;
	margin:auto;
	margin-top:10px;
	text-align:center;
}

#barralateral{
	width:553px; 
	height:30px;
	size:50px
	background-color:#0F0
	
	
}