fieldset{
    background: white none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    bottom: 80px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    position: relative;
    top: 10px;
    width: 100%;
}